@import "../functions/calculate_funcs";
@import "../variables";
@import "../functions/font_funcs";

$auth-bottom-margin: pxToRem(15px);

.auth-button {
  @include connectMonserratFont;
  width: 100%;
  height: auto;
  background-color: $general-color;
  border-radius: $general-radius;
  outline: none;
  border: none;
  font-size: pxToRem(16px);
  color: white;
  padding: pxToRem(16px);
  margin-bottom: $auth-bottom-margin;
  font-weight: 500;

  &:last-child {
    margin-bottom: 0;
  }
}

.auth-input {
  max-width: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: $main-bg;
  border-radius: $general-radius;
  padding: pxToRem(12px);
  margin-bottom: $auth-bottom-margin;

  input {
    all: unset;
    background-color: $input-bg;
    border-radius: pxToRem(5px);
    height: pxToRem(35px);
    text-indent: pxToRem(12px);
  }

  label {
    margin-top: pxToRem(5px);
    margin-bottom: pxToRem(12px);
    font-weight: 500;
  }
}

.auth-title {
  max-width: 100%;
  width: 100%;
  padding-bottom: pxToRem(18px);
  padding-top: pxToRem(18px);
  text-align: center;
  border: pxToRem(1px) solid $title-stroke_two;
  border-radius: $general-radius;
  margin-bottom: $auth-bottom-margin;
  font-size: pxToRem(20px);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  overflow-x: hidden;
  @include connectMonserratFont;
}

.main {
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__sign-up {
    height: auto;
    display: flex;
    flex-direction: column;

    .sign-up-container {
      width: pxToRem(470px);
      height: auto;
      display: flex;
      flex-direction: column;

      &__double {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        align-items: center;
        grid-auto-rows: 1fr;
        gap: $auth-bottom-margin;
      }
    }
  }

  &__sign-in {
    height: auto;
    display: none;
    flex-direction: column;
  }
}

@keyframes signIn_Out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateX(- 100vw) scale(0);
  }
}

@keyframes signIn_In {
  from {
    opacity: 0;
    transform: scale(0) translateX(- 100vw);
  }

  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes signUp_Out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateX(100vw) scale(0);
  }
}

@keyframes signUp_In {
  from {
    opacity: 0;
    transform: scale(0) translateX(100vw);
  }

  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

.signIn_Out {
  position: absolute;
  animation: signIn_Out 0.5s;
}

.signIn_In {
  animation: signIn_In 0.5s;
}

.signUp_Out {
  position: absolute;
  animation: signUp_Out 0.5s;
}

.signUp_In {
  animation: signUp_In 0.5s;
}

.favorday-id-logo {
  display: inline-block;
  position: absolute;
  background-color: $header-bg;
  padding: pxToRem(18px);
  border-radius: $general-radius;
  color: white;
  font-size: pxToRem(20px);
  font-weight: 600;
  left: pxToRem(25px);
  top: pxToRem(25px);

  &:before {
    content: '';
    display: inline-block;
    width: pxToRem(35px);
    height: pxToRem(35px);
    vertical-align: middle;
    background-image: url("../../images/favorday_id_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: pxToRem(10px);
  }
}

.side-button {
  position: absolute;
  height: pxToRem(350px);
  width: auto;
  border: pxToRem(1px) solid $general-color;
  border-radius: $general-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: pxToRem(10px);
  top: calc(50% - pxToRem(350px/2));
  transition: all 0.25s ease-in-out;
  z-index: 999;

  img {
    filter: invert(43%) sepia(76%) saturate(2978%) hue-rotate(338deg) brightness(90%) contrast(86%);
    width: pxToRem(30px);
    height: pxToRem(30px);
  }

  &--left {
    left: pxToRem(25px);
  }

  &--right {
    right: pxToRem(25px);
  }

  &:hover {
    background-color: $general-color;

    img {
      filter: none;
    }
  }
}