@import "../variables";
@import "../functions/calculate_funcs";
@import "../other/base_elements";

.section-panel {
  background-color: $main-bg;
  width: auto;
  height: auto;
  padding: pxToRem(20px);
  border-radius: $general-radius;
}

.title-txt {
  font-weight: 500;
  font-size: pxToRem(20px);
  color: white;
}

.additional-txt {
  font-size: pxToRem(16px);
  font-weight: 300;
  color: white;
}

.grid-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
              "msg1 msg1p"
              "msg2p msg1p"
              "msg2p msg2"
              "msg3 msg3"
              "msg4 msg4";
  gap: pxToRem(10px);
  width: 100%;

  &__msg1 {
    grid-area: msg1;
  }

  &__msg1-photo {
    grid-area: msg1p;
    height: pxToRem(280px);
  }

  &__msg2 {
    grid-area: msg2;
  }

  &__msg2-photo {
    grid-area: msg2p;
  }

  &__msg3 {
    grid-area: msg3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .section-panel {
      width: 90%;
      background-color: rgba(1, 1, 1, 0.2);
      margin-top: pxToRem(20px);
      margin-bottom: pxToRem(20px);
      height: pxToRem(200px);
    }
  }

  &__msg4 {
    grid-area: msg4;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;

    .create-post-btn {
      @include button_s3_content(20px);
      @include button_s3_bg();
      white-space: nowrap;
      padding: pxToRem(20px) pxToRem(190px);
      margin-top: pxToRem(30px);
    }
  }
}

.msg {
  display: flex;
  flex-direction: column;

  .additional-txt {
    margin-top: pxToRem(14px);
  }
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-areas:
            "msg1 msg1"
            "msg1p msg1p"
            "msg2 msg2"
            "msg2p msg2p"
            "msg3 msg3"
            "msg4 msg4";
  }

  .section-panel {
    border-radius: pxToRem(15px);
  }
}

@media (min-width: 993px) {
  .grid-container {
    grid-template-areas:
            "msg1 msg1p"
            "msg2p msg1p"
            "msg2p msg2"
            "msg3 msg3"
            "msg4 msg4";
  }
}