<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Fragment</title>
</head>
<body>
<!--CONTENT FRAG NAME -> FOLDER - FRAGMENTS/{FRAG_NAME}-->
<div th:fragment="navigation(content_frag_name)" class="grid-container">
    <link rel="stylesheet" th:href="@{/css/elements/navigation.css}">
    <header>
        <div class="header">
            <a th:href="@{/home}" class="header__logo"><img th:src="@{/images/navigation/header/logo.png}" alt="LOGO"/></a>
            <div class="header__search">
                <form class="search-block">
                    <input type="search" placeholder="Введите ключевое слово..." class="search-block__input"/>
                    <a th:href="@{/search}" class="search-block__button"><img
                            th:src="@{/images/navigation/header/search.png}"/></a>
                </form>
            </div>
            <a th:href="@{/profile}" class="header__profile"><img th:src="@{/images/navigation/header/profile.png}"
                                                                  alt="PROFILE"/></a>
        </div>
    </header>
    <aside>
        <div class="aside">
            <div class="navigation">
                <ul>
                    <li class="navigation__button">
                        <a th:href="@{/recommendations}">
                            <img alt="btn-logo" th:src="@{/images/navigation/aside/recommendations.png}"/>
                            <span>Рекомендации</span>
                        </a>
                    </li>
                    <li class="navigation__button">
                        <a th:href="@{/leaderboard}">
                            <img alt="btn-logo" th:src="@{/images/navigation/aside/leaderboard.png}"/>
                            <span>Лидерборд</span>
                        </a>
                    </li>
                    <li class="navigation__button">
                        <a th:href="@{/random_moment}">
                            <img alt="btn-logo" th:src="@{/images/navigation/aside/random_moment.png}"/>
                            <span>Случайный момент</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="person-actions">
                <a th:href="@{/profile/post}" class="person-actions__button">Мои публикации</a>
                <a href="/authorization?form=register" class="person-actions__button person-actions__button--with-bg">Авторизоваться</a>
            </div>
        </div>
    </aside>
    <main>
        <div class="main">
            <div th:replace="${content_frag_name} :: content"></div>
        </div>
    </main>
</div>
<div th:replace="fragments/fonts :: fonts"></div>
</body>
</html>