<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Form Fragment</title>
</head>
<body>
<div th:fragment="content">
    <form method="post" th:action="@{/post_form/create_post}" id="post-form">
        <label for="title-field">Заголовок</label>
        <input type="text" name="title-field" id="title-field"/>
        <label for="short-part-field">Краткая часть</label>
        <textarea name="short-part-field" id="short-part-field" placeholder="..."></textarea>
        <label for="content-field">Основная часть</label>
        <textarea name="content-field" id="content-field" placeholder="..."></textarea>
        <label for="settings">Настройки</label>
        <ul id="settings">
            <li><label for="anonymous-param">Полная анонимность</label><input type="checkbox" name="anonymous-param"
                                                                              id="anonymous-param"/></li>
            <li><label for="disallow-comments-param">Запретить комментарии</label><input type="checkbox"
                                                                                         name="disallow-comments-param"
                                                                                         id="disallow-comments-param"/>
            </li>
            <li><label for="disallow-rate-param">Запретить оценивание</label><input type="checkbox"
                                                                                    name="disallow-rate-param"
                                                                                    id="disallow-rate-param"/></li>
        </ul>
        <label for="confirm-value">Подтверждение</label>
        <input type="checkbox" name="confirm-value" id="confirm-value"/>
        <input type="submit" value="Опубликовать"/>
    </form>
</div>
</body>
</html>