//general
$general-orange: #D7503E;
$general-bg: #1A1A1A;

//header
$header-bg: #222222;
$header-search-bg: transparent;
$header-search-stroke: #3C3C3C;
$header-search-placeholder-color: #4C4C4C;
$header-stroke: #383838;

//aside
$aside-bg: $header-bg;
$aside-nav-button-bg: #272727;
$aside-stroke: $header-stroke;