html, body {
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header_nav {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

header {
  width: 100%;
  height: 4.375rem;
  background-color: #2D2727;
  border: 0.0625rem solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 80rem;
  max-width: 80rem;
}
.header__desktop-adaptation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__language-select-pan {
  background-color: #2D2727;
  position: absolute;
  border-radius: 0.625rem;
  z-index: 999;
}
.header__language-select-pan .language-select {
  margin: 0;
  list-style: none;
  font-size: 0.75rem;
  padding: 0.3125rem;
}
.header__language-select-pan .language-select__item {
  padding-bottom: 0.3125rem;
  height: auto;
  width: 8.125rem;
  text-align: center;
  color: white;
  border: 0 solid #3C3131;
  border-right-width: 0;
  border-bottom-width: 0.0625rem;
  border-left-width: 0;
  margin-bottom: 0.3125rem;
}
.header__language-select-pan .language-select__item:last-child {
  margin-bottom: 0;
  border: none;
  padding-bottom: 0;
}
.header__language-select-pan .language-select__item:hover {
  cursor: pointer;
}
.header__language-select-pan .language-select__item:hover span {
  background-color: #4C3A3A;
}
.header__language-select-pan .language-select__item span {
  display: block;
  width: 100%;
  border-radius: 0.625rem;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
}
.header__left {
  margin-left: 1.25rem;
}
.header__right {
  display: flex;
  justify-content: space-around;
  margin-right: 1.25rem;
}
.header .right-item {
  margin-right: 1.875rem;
}
.header .right-item:last-child {
  margin-right: 0;
}
.header__language-select-button {
  cursor: none;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  background-color: #4C3A3A;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.625rem;
}
.header__language-select-button:hover {
  cursor: pointer;
}
.header__language-select-button:after {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../../images/down_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 0.625rem;
}
.header__logo img {
  width: auto;
  height: 1.875rem;
  vertical-align: middle;
}
.header__profile {
  display: flex;
  align-items: center;
}
.header__profile img {
  width: 1.875rem;
  height: 1.875rem;
  vertical-align: middle;
}
.header__mobile-adaptation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.875rem;
  color: white;
  font-weight: 600;
}
.header__mobile-adaptation .mobile-header-icon {
  width: 2.1875rem;
  height: 2.1875rem;
  vertical-align: middle;
}
.header__mobile-adaptation .header__logo {
  margin-left: 1.875rem;
}
.header__mobile-adaptation .header__profile {
  margin-right: 1.875rem;
}

.flex-container {
  display: grid;
  grid-template-columns: 15.625rem 1fr;
  gap: 1.25rem;
  max-width: 80rem;
  width: 100%;
  padding: 1.25rem 1.25rem 3.75rem;
}

.aside {
  transition: filter 0.2s ease-in-out;
  height: 31.25rem;
  width: 15.625rem;
  background-color: #211C1C;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aside .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside .navigation ul {
  list-style: none;
  padding: 0;
  width: auto;
  margin: 0.625rem 0 0;
}
.aside .navigation__button {
  border: 0 solid #483C3C;
  border-right-width: 0;
  border-bottom-width: 0.0625rem;
  border-left-width: 0;
  border-radius: 0;
  padding-bottom: 0.375rem;
  padding-top: 0.3125rem;
}
.aside .navigation__button:first-child {
  padding-top: 0;
}
.aside .navigation__button:last-child {
  padding-bottom: 0;
  border: none;
}
.aside .navigation__button:hover span {
  color: #D7503E;
}
.aside .navigation__button:hover img {
  filter: invert(43%) sepia(76%) saturate(2978%) hue-rotate(338deg) brightness(90%) contrast(86%);
}
.aside .navigation__button a {
  width: 13.75rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  font-size: 0.8125rem;
}
.aside .navigation__button a .nav-icon img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.9375rem;
  vertical-align: middle;
  transition: all 0.1s ease-in-out;
}
.aside .navigation__button a span {
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
  font-weight: 500;
}
.aside .person-actions {
  width: 13.75rem;
  margin-bottom: 0.9375rem;
}
.aside .person-actions a {
  color: white;
  font-weight: 500;
  font-size: 13px;
}
.aside .person-actions a:first-child {
  transition: all 0.1s ease-in-out;
  border: 0.0625rem solid #D7503E;
  background-color: #D7503E;
  border-radius: 0.625rem;
  border-bottom-left-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  text-decoration: none;
}
.aside .person-actions a:first-child:hover {
  background-color: transparent;
}
.aside .person-actions a:last-child {
  transition: all 0.1s ease-in-out;
  border: 0.0625rem solid #D7503E;
  background-color: #D7503E;
  border-radius: 0.625rem;
  margin-top: 0.625rem;
  border-top-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  text-decoration: none;
}
.aside .person-actions a:last-child:hover {
  background-color: transparent;
}

.main {
  transition: filter 0.2s ease-in-out;
  height: auto;
  width: 100%;
}

@media (max-width: 992px) {
  .header__desktop-adaptation {
    display: none;
  }
  .header__mobile-adaptation {
    display: flex;
  }
  .aside {
    display: none;
  }
  header {
    height: 4.375rem;
    border-color: white;
    border-image: radial-gradient(circle, transparent, black);
  }
  html, body {
    font-size: 30px;
  }
  .flex-container {
    display: inline-block;
    width: 100%;
  }
}
@media (min-width: 993px) {
  .header__mobile-adaptation {
    display: none;
  }
}

/*# sourceMappingURL=navigation.css.map */
