@import "../other/base_elements";
@import "../functions/font_funcs";

html, body {
  background-color: $bg;
  margin: 0;
  @include connectMonserratFont;
}

.header_nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

header {
  width: 100%;
  height: pxToRem(70px);
  background-color: $header-bg;
  border: pxToRem(1px) solid white;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: pxToRem(1280px);
  max-width: pxToRem(1280px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin-left: pxToRem(30px);

    img {
      width: auto;
      height: pxToRem(30px);
    }
  }

  &__profile {
    margin-right: pxToRem(30px);

    img {
      width: pxToRem(40px);
      height: pxToRem(40px);
    }
  }
}

.flex-container {
  display: flex;
  width: pxToRem(1280px);
  max-width: pxToRem(1280px);
  justify-content: space-between;
  margin-top: pxToRem(20px);
}

.aside {
  height: pxToRem(600px);
  width: pxToRem(250px);
  background-color: $aside-bg;
  border-radius: $general-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: auto;
    }

    &__button {
      margin-top: pxToRem(14px);
      width: pxToRem(220px);

      .nav-icon {
        width: pxToRem(30px);
        height: pxToRem(30px);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: pxToRem(10px);

        &:before {
          transition: all 0.15s ease-in-out;
          content: '';
          position: absolute;
          display: block;
          opacity: 0;
          width: pxToRem(40px);
          height: pxToRem(40px);
          right: 50%;
          top: 50%;
          transform: scale(1) translate(50%, -50%);
          background-color: $aside-nav-btn-color;
          border: pxToRem(1px) solid $aside-nav-stroke;
          border-radius: pxToRem(10px);
          z-index: 4;
        }
      }

      &:hover {
        .nav-icon:before {
          opacity: 1;
        }
      }
    }

    &__button a {
      text-decoration: none;
      display: flex;
      align-items: center;

      img {
        width: pxToRem(30px);
        height: pxToRem(30px);
        z-index: 5;
      }

      span {
        @include button_s2_content();
        @include button_s2_bg();
      }
    }
  }

  .person-actions {
    width: pxToRem(220px);
    margin-bottom: pxToRem(15px);

    a {
      @include personal_nav_button_content();

      &:first-child {
        @include personal_nav_button_bg(false);
      }

      &:last-child {
        @include personal_nav_button_bg(true);
      }
    }
  }
}

.main {
  margin-left: pxToRem(20px);
  margin-bottom: pxToRem(60px);
}
